<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <include resource="org/springframework/boot/logging/logback/defaults.xml" />
         <property name="FOLDER-NAME" value="logs" />

<!-- console log -->

          <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
             <layout class="ch.qos.logback.classic.PatternLayout">
                   <pattern>
                      %yellow(%date{dd MMM yyyy - HH:mm:ss:SSS}) %-5level [%thread] %class{0}:%L - [%X] %msg%n
                    </pattern>
             </layout>
          </appender>
          
    <!-- when no error logs stored in this appender -->
    
         <appender name="correctOutput" class="ch.qos.logback.core.rolling.RollingFileAppender">
              <file>${FOLDER-NAME}/correctOutput.log</file>  
              <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                     <pattern>
                   %date{dd MMM yyyy - HH:mm:ss:SSS} %-5level [%thread] %class{0}:%L - [%X] %msg%n
                    </pattern>
             </encoder>
             <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                       <FileNamePattern>${FOLDER-NAME}/archived/Noerror.%d{yyy-MM-dd}.%i.log</FileNamePattern>
                        <maxFileSize>10KB</maxFileSize>
                        <totalSizeCap>10MB</totalSizeCap>
                        <maxHistory>30</maxHistory>
             </rollingPolicy>   
         </appender>
         
<!-- when exception occures logs stroed in this appender  -->

        <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
             <file>${FOLDER-NAME}/ExceptionOutput.log</file>
             <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                     <pattern>
                  %date{dd MMM yyyy - HH:mm:ss:SSS} %-5level [%thread] %class{0}:%L - [%X] %msg%n
                   </pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                   <FileNamePattern>${FOLDER-NAME}/archived/Exception.%d{yyy-MM-dd}.%i.log</FileNamePattern>
                   <maxFileSize>10kB</maxFileSize>
                   <totalSizeCap>10MB</totalSizeCap>
                   <maxHistory>30</maxHistory>
            </rollingPolicy>
      </appender>

     <logger name="com.madhura.springlogging.controller" level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="correctOutput" />
      </logger>

      <root level="error">
          <appender-ref ref="error" />
      </root>

</configuration>

